.menuButton {
    background-color: transparent;
    color: #FFFF;
    z-index: 6;
    margin-bottom: 20px;
    display: flex;
    justify-content: left;
    border-top: none;
    padding-bottom: 10px;
    border-bottom: solid;
    border-left: none;
    border-right: none;
    border-width: 1px;
}

.buttonTitle {
    margin-left: 10%
}

.menuButton:hover {
    cursor: pointer;
    opacity:0.5;
}

.homeButton {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10%;
    margin-left: 20%;
    margin-right: 20%;
    height: 40px;
    background-color: #082C6C;
    border: solid 1px;
    border-color: #082C6C;
    border-radius: 10px;
    box-shadow: 1px 1px 5px;
}

.homeButton > * {
    color: white;
    margin-left: 5%;
    margin-right: 5%;
}