.homeListButton {
    display: flex;
    flex-direction: column;
}

.homeButton {
    align-items: center;
    margin-top: 10%;
    margin-left: 20%;
    margin-right: 20%;
    height: 40px;
    border: solid 1px;
    border-color: #082C6C;
    box-shadow: 1px 1px 5px black;
}

.homeButton > * {
    color: white;
    margin-left: 5%;
    margin-right: 5%;
    font-size: 80%;
    
}